<launch>
    <!-- Launch image detection -->
    <node ns="Tracker" name="Detection" pkg="yolo" type="yolo.py"/>
    <!-- Launch Pointcloud2 to Image cpp-->
    <node ns="Tracker" name="CloudImage" pkg="pcl_handler" type="cloudsubscriber"/>
    <!-- Launch boundary box segmentation-->
    <node ns="Tracker" name="Segmentation" pkg="segmentation" type="DBSCAN.py"/>
    <!-- Launch Tracker -->
    <node ns="Tracker" name="Tracker" pkg="visionv2" type="Tracker_no_yolo.py"/>
    <!-- Launch set goal -->
    <node ns="Tracker" name="Create_goal" pkg="follow" type="Create_goal.py"/>
    <!-- -->
    <node ns="Tracker" name="Draw_boxes" pkg="visionv2" type="show.py"/>
</launch>