<launch>
    <!-- Launch image detection -->
    <node name="Yolo" pkg="yolo" type="yolo.py"/>
    <!-- Launch Pointcloud2 to Image cpp-->
    <node name="CloudImage" pkg="pcl_handler" type="cloudsubscriber"/>
    <!-- Launch boundary box segmentation-->
    <node name="Segmentation" pkg="segmentation" type="DBSCAN.py"/>
    <!-- Launch Tracker -->
    <node name="Tracker" pkg="visionv2" type="Tracker_no_yolo.py"/>
    <!-- Launch set goal -->
    <!-- -->
</launch>