<launch>

<!-- TRANSFORMS -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_tf" args="-0.518 0 1.413 0 0 0 1 base_link base_lidar" />

   <master auto="start"/>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find tank_2dnav)/Simulation/costmap_common_paramsSim.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tank_2dnav)/Simulation/costmap_common_paramsSim.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tank_2dnav)/Simulation/local_costmap_paramsSim.yaml" command="load" />
    <rosparam file="$(find tank_2dnav)/Simulation/global_costmap_paramsSim.yaml" command="load" /> 
    <rosparam file="$(find tank_2dnav)/Simulation/dwa_local_planner_paramsSim.yaml" command="load" />
    <rosparam file="$(find tank_2dnav)/Simulation/global_planner_paramsSim.yaml" command="load" />
    <param name="base_global_planner" type="string" value=" global_planner/GlobalPlanner" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="recovery_behavior_enabled" type="bool" value="false" />
    <param name="controller_frequency" type="double" value="10" />
    <!--<param name="planner_frequency" type="double" value="0.5" /> -->
 </node>

</launch>


