<launch>
   <!-- Launching static transforms -->
   <node pkg="tf" type="static_transform_publisher" name="zed_base_tf" args="0 0 0 0 0 0 1 base_link zed2_left_camera_frame 10"/>
   <node pkg="tf" type="static_transform_publisher" name="map_base_tf" args="0 0 0 5 0 0 1 map base_link 10"/>
   <!--<node pkg="tf" type="static_transform_publisher" name="zero_map_tf" args="0 0 0 0 0 0 1 zero zero 10"/>-->

   <!-- Launch Public generator 
   <node name="Distance_gen" pkg="follow" type="Publish_pose.py"/>-->

   <!-- Launch Vehicle mover 
   <node name="Base_pose" pkg="follow" type="Base_pose.py"/>-->

   <!-- Launch Move_base
   <node name="Move_base" pkg="follow" type="Move_base.py"/>-->

   <!-- Launch Create_goal 
   <node name="Create_goal" pkg="follow" type="Create_goal.py"/>-->
 
</launch>